.navbar{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
    position: fixed;
    transition: all .3s ease;
    z-index: 100;
}

.scrolled{
    top: 0;
    left: 0;
    background-color: #343a40;
}

.navbar-content{
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
}

.logo{
    background: rgb(222, 32, 33);
    display: grid;
    place-items: center;
    height: 100px;
    place-content: center;
    padding: 0 3rem;
    color: #fff;
    border-radius: 0 0 .5rem .5rem;
}

.logo h1{
    font-size: 1.5rem;
    font-weight: 700;
}

.logo h2{
    font-size: 1rem;
    font-weight: 500;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5rem;
}

.nav-items li a{
    color: #ababab;
    font-size: 1rem;
    font-weight: 500;
}

.nav-items li a:hover{
    color: #fff;
}

.contact-details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.contact-details h1{
    font-size: .8rem;
    color: #efefef;
}

.contact-details h2{
    font-size: .9rem;
    color: #fff;
}