.navbar{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
    position: fixed;
}

.navbar-content{
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
}

.logo{
    background: red;
    display: grid;
    place-items: center;
    height: 100px;
    place-content: center;
    padding: 0 2rem;
    color: #fff;
    border-radius: 0 0 .8rem .8rem;
}

.logo h1{
    font-size: 1.5rem;
    font-weight: 700;
}

.logo h2{
    font-size: 1rem;
    font-weight: 500;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5rem;
}

.nav-items li a{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
}

.contact-details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.contact-details h1{
    font-size: .8rem;
    color: #efefef;
}

.contact-details h2{
    font-size: 1rem;
    color: #fff;
}