.service-card{
    width: 23%;
    height: 400px;
    padding: 0;
    background: #fff;
    border: 2px solid #ababab15;
    padding: 2rem 1rem;
    border-radius: .4rem;
    text-align: center;
    position: relative;
    z-index: 10;
}

/* .service-card:hover{
    transform: scaleY(1.03); 
    transform-origin: bottom;
    transition: transform .3s linear;
} */

.service-icon{
    width: 100px;
    margin-bottom: 2rem;
    transform: scale(1);
}

.service-card:hover .animation-down{
    content: "";
    width: 90%;
    height: 1.5rem;
    left: 1.05rem;
    bottom: -1.2rem;
    background: rgb(222, 32, 33);
    position: absolute;
    transition: all .4s ease-in-out;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    z-index: 0;
    animation: fadeDown .4s linear;
}

.service-card-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: scale(1);
}

.service-card-content h1{
    font-size: 1.4rem;
    padding: 0 3rem;
    margin-bottom: 1.5rem;
    transform: scale(1);
}

.service-card-content p{
    font-size: 1rem;
    padding: 0 .6rem;
    margin-bottom: 1rem;
    transform: scale(1);
}

.service-card-content a{
    text-decoration: none;
    color: rgb(222, 32, 33);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1.2rem;
    transform: scale(1);
}

@keyframes fadeDown {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
        bottom: 0;
    }
    100%{
        opacity: 1;
        bottom: -1.2rem;
    }
}