.about-company{
    width: 100%;
    padding: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-grid{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.grid-image-right{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
}

.grid-image-right .grid-image:last-child{
    position: relative;
}

.grid-image-right .grid-image:last-child .grid-text{
    width: 100%;
    height: 100%;
    color: #fff;
    background-image: linear-gradient(#de2021 0 0);
    background-size: 200% .08em; /* .08em is our fixed height, use what you want  */
    background-position: 200% 100%;
    background-repeat: no-repeat;
    transition: background-size .3s, background-position .3s .3s;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0;
}

.grid-text h1{
    font-size: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-text span{
    font-size: 4rem;
}

.grid-text p{
    font-size: 1rem;
    text-transform: capitalize;
}

.grid-image-right .grid-image:last-child:hover .grid-text{
    opacity: 1;
    transition: background-size .3s .3s, background-position .3s;
    background-size: 200% 100%;
    background-position: 100% 100%;
}

.grid-image-left{
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.grid-image img{
    width: 100%;
    height: 100%;
}

.about-info{
    padding: 4rem 0;
}

.about-info h1{
    font-size: 3rem;
    margin-top: 1rem;
    padding-right: 12rem;
    text-transform: capitalize;
}

.about-info .subtitle{
    font-size: 1rem;
    font-weight: 500;
    padding-right: 10rem;
    margin-bottom: 1rem;
}

.about-info .founder-name{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.founder-name span{
    color: #de2021;
    font-weight: 500;
}

.about-info .about-desc{
    font-size: 1.2rem;
    color: #6b6969;
    font-weight: 500;
    margin-bottom: 2rem;
}